.track{
  width: 100%;
}
.toptrackf h3{
    align-items: normal;
    color: rgba(91, 26, 4, 1);
    font-size: 25px;
    font-weight: 700;
}
.toptrackf{
    margin: 0 4rem;
}
.toptrackf p{
    color: rgba(3, 8, 31, 1);
    font-size: 20px;
    font-weight: 500;
}
.toptracks{
    margin: 0 4rem 0;
}
.tracks1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}
.tracks1 h2{
    font-size: 25px;
    font-weight: 700;
}
.tracks1 p{
    font-size: 20px;
    font-weight: 600;
    color:  rgba(91, 26, 4, 1);
}
.tracks2 img{
    max-width: 200px;
    border-radius: 26px;
    margin-right: 1rem;
    max-height: 140px;
}
.tracks2{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
    margin:4rem 0 0 4rem;
}
.dropdown{
    margin: 4rem 3rem 3rem;
  
    
    
}
.drop{
    border-bottom: 1px black solid;
    padding: 8px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.drop1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center

}
.navbar{
  display: flex;
  flex-direction: row;
}
  
  /* Dropdown content (hidden by default) */
  .dropdowncontent {
    background-color: #f9f9f9;
    padding: 2rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 10px;
    max-width: 100%;
    border: 1px rgb(121, 113, 113) solid;
    
  }
  .dropdowncontent p{
    font-size: 30px;
    line-height: 80px;
    font-weight: 700;
    color:  rgba(91, 26, 4, 1);
  }
  .close2{
    align-items: end;
    width: 3000px;
  }
  .drop1 p{
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .problem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .problem h1{
    font-size: 40px;
    font-weight: 600;
  }
  .problem button{
    font-size: 35px;
    font-weight: 500;
    color: rgba(91, 26, 4, 1);
    padding: 28px;
    width: 320px;
    border-radius: 28px;
    border: 4px rgba(91, 26, 4, 1) solid;
    background-color: white;
    margin-top: 2rem;
  }
  @media screen and (max-width:1300px) {
    .close2{
      width: 2000px;
    }
  }
  @media screen and (max-width:1100px) {
    .close2{
      width: 1540px;
    }
    .dropdowncontent p{
      font-size: 20px;
      line-height: 70px;
      font-weight: 700;
      color: black;
    }
  }

@media screen and (max-width:992px) {
  .close2{
    width: 1140px;
  }
  .dropdowncontent p{
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    color: black;
  }
  .tracks2 img{
    max-width: 100px;
}
.tracks2{
    margin:4rem 0 0 1rem;
}
}
@media screen and (max-width:768px) {
  .close2{
    width: 850px;
  }
  .dropdowncontent p{
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: black;
  }
  .tracks2 img{
    max-width: 80px;
    border-radius: 26px;
    margin-right: 1rem;
    max-height: 140px;
}
}
@media screen and (max-width:600px) {
  .dropdowncontent {
    background-color: white;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    margin-top: 10px;
    max-width: 100%;
    border: none;
    
  }
  .dropdowncontent p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: black;
  }
  .close2{
    width: 380px;
  }
  .tracks2 img{
    max-width: 150px;
    border-radius: 26px;
    margin-right: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 140px;
    margin-bottom: 2rem;
}
.toptrackf{
  width: 300px;
}
.tracks1{
  width: 400px;
}
.tracks1 h2{
  font-size: 17px;
}

.tracks1 p{
  font-size: 15px;
}
.dropdown p{
  font-size: 15px;
  width: 200px;
  margin-left: 1rem
}
.problem{
  margin-left: 5rem;
}
.problem h1{
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
.problem button{
  font-size: 30px;
  padding: 20px;
  width: 220px;
  border-radius: 28px;
  border: 2px rgba(91, 26, 4, 1) solid;
}
.tracks2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

}